#catalog-container {
    .product-thumbnail {
        #image-container {
            width: 100%;
            height: 260px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
            }
        }
        #category {
            color: grey;
        }
        #rating {
            i {
                color: $primary-color;
            }
            .highlight {
                font-weight: bold;
            }
        }
        #price {
            #actual-price {
                color: $primary-color;
                font-weight: bolder;
                margin-right: 0.5rem;
            }
            #original-price {
                font-weight: lighter;
            }
            #discount {
                background-color: rgba(0, 128, 0, 0.2);
                color: $success-color;
                padding: 0.1rem 0.5rem;
                border-radius: 0.2rem;
            }
        }
        padding-bottom: 2rem;
    }
}