.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    h5 {
        font-weight: bolder;
    }
}

.profile {
    i {
        background-color: $light-shade;
        width: 40px;
        line-height: 40px;
        text-align: center;
        font-size: x-large;
        border-radius: 50%;
        margin-right: 0.5rem;
    }
    .user {
        color: grey;
        font-size: small;
    }
}

.image-zoom {
    img {
        width: 100% !important;
        height: auto !important;
    }
    div {
        * {
            z-index: 5;
        }
    }
}

.page-banner {
    padding: 5rem 0;
    background-color: rgba(128, 128, 128, 0.3);
    .container {
        display: flex;
        align-items: center;
        img {
            width: 200px;
        }
        h1 {
            padding: 0 2rem;
            background: #121FCF;
            background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}