.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    h5 {
        font-weight: bolder;
    }
}

.profile {
    i {
        background-color: $light-shade;
        width: 40px;
        line-height: 40px;
        text-align: center;
        font-size: x-large;
        border-radius: 50%;
        margin-right: 0.5rem;
    }
    .user {
        color: grey;
        font-size: small;
    }
}