#price {
    #actual-price {
        color: $primary-color;
        font-weight: bolder;
        margin-right: 0.5rem;
    }
    #original-price {
        font-weight: lighter;
    }
    #discount {
        background-color: rgba(0, 128, 0, 0.2);
        color: $success-color;
        padding: 0.1rem 0.5rem;
        border-radius: 0.2rem;
    }
}

#description {
    padding: 1rem 0;
}

$star-size: 60px;
$star-color: #0d6dfd37;
$star-background: #fc0;
.stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: 1em;
    line-height: 1;
    &::before {
        content: '★★★★★';
        letter-spacing: 3px;
        background: linear-gradient(90deg, $primary-color var(--percent), $star-color var(--percent));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.category {
    color: grey;
}

.brand-badge {
    padding: 0.1rem 0.5rem;
    border-radius: 0.2rem;
    margin: 0 0.3rem;
}

.facebook {
    background-color: #e1ebfb;
    color: #007bff;
}

.twitter {
    background-color: #caebf9;
    color: #00c2ff;
}

.instagram {
    background-color: #e0e2fe;
    color: #4e54c8;
}

.rating-input {
    font-size: xx-large;
}