#nav {
    #top-bar {
        background-color: $light-shade;
        #social-media {
            padding-left: 1rem;
            span {
                padding: 0 0.2rem;
            }
        }
        margin: 0.2rem 0;
    }
    #nav-search {
        $height: 40px;
        $border-radius: 2rem;
        margin: 1rem 0;
        #search-icon {
            line-height: $height;
            width: $height;
            text-align: center;
            background-color: $light-shade;
            border-radius: $border-radius 0 0 $border-radius;
        }
        #search-input {
            background-color: $light-shade;
            height: 100%;
            input {
                height: $height;
                width: 100%;
                background-color: #00000000;
                border: none;
                outline: none;
            }
            border-radius: 0 $border-radius $border-radius 0;
            width: 100%;
        }
        #container {
            width: 100%;
            border-radius: $border-radius;
            border: 1px solid white;
        }
        #container:focus-within {
            $border-color: rgb(89, 167, 255);
            border: 1px solid $border-color;
            box-shadow: 0 0 3px $border-color;
        }
    }
    #nav-bar {
        background-color: $footer-color;
        a,
        .nav-item {
            padding: 1rem 1.5rem;
            color: white;
        }
        a:hover,
        .nav-item:hover {
            background-color: $brand-red;
            filter: opacity(1);
        }
        @keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
        .selectedCategory {
            background-color: $footer-color;
            z-index: 10;
            color: white;
            animation: fadein 1s;
            a:hover {
                background-color: rgba(0, 140, 255, 0.1);
                box-shadow: none;
                outline: 2px solid skyblue;
            }
        }
        .btn-close {
            background: transparent url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23fff%27%3e%3cpath d=%27M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z%27/%3e%3c/svg%3e") center/1em auto no-repeat;
        }
    }
}